<!DOCTYPE html>
<html>
<head>
  <title>Meu Site de Roupas Infantis</title>

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/resultado">Produtos</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
