<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" href="style.css"> <!-- Link para um arquivo CSS externo, se desejar -->
</head>
<body>
  <h1>Bem-vindo à Página Inicial</h1>
  <p>Esta é a página inicial do projeto.</p>
  <!-- Adicione o conteúdo desejado para a página -->

  <script src="script.js"></script> <!-- Link para um arquivo JavaScript externo, se desejar -->
</body>
</html>
